In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 불러오기
df_movie = pd.read_csv(r'./data/kaggle_movie_small/movies.csv')
df_rating = pd.read_csv(r'./data/kaggle_movie_small/ratings.csv')

In [3]:
# 유저-평점 데이터 확인
df_rating.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [4]:
# 영화 데이터 확인
df_movie.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [5]:
# 유저-평점 데이터에 영화이름 가져오기
df_data = pd.merge(df_rating, df_movie, how='inner', on='movieId')
df_data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [ ]:
# 데이터 확인
df_data.tail()

In [6]:
# userId와 movie_title로 행렬을 만들기
df = pd.pivot_table(df_data, index='userId', columns='title', values='rating')
df

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [9]:
# Nan값을 0으로 채우기
dffill = df.fillna(0)
dffill

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

In [10]:
# 인덱스-컬럼 전치
dffill_transpose = dffill.transpose()
dffill_transpose

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,2.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
¡Three Amigos! (1986),4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# 순열 조합
# from itertools import product
# print(len(list(product(df_transpose.index, repeat=2))))
# list(product(df_transpose.index, repeat=2))

In [ ]:
# COS유사도 구하기 함수
def get_cosine_similarity(u, v):
    mask = np.isfinite(u) & np.isfinite(v)
    
    print( u, v )   # NaN 걸러내기 이전
    
    u = u[mask]
    v = v[mask]
    
    print( u, v )   # NaN 걸러낸 이후
    
    uvdot = (u * v).sum()
    
    norm1 = (u ** 2).sum()
    norm2 = (v ** 2).sum()
    
    score = uvdot / np.sqrt(norm1 * norm2)
    
    return score

In [ ]:
# 순열 조합하여 COS유사도 구하기
def get_cosine_similarity_table(df_transpose):
    index_combinations = list(product(df_transpose.index, repeat=2))
    
    similarity_list = []
    
    for uname, vname in index_combinations:
        u = df_transpose.loc[uname]
        v = df_transpose.loc[vname]
        
        score = get_cosine_similarity(u, v)
        
        similarity = {
            'u': uname,
            'v': vname,
            'score': score
        }
        
        similarity_list.append(similarity)
        
    similarity_list = pd.DataFrame(similarity_list)
    
    similarity_table = pd.pivot_table(similarity_list, index='u', columns='v', values='score')
    
    return similarity_table

In [ ]:
# 시간초과...
# similarity_table = get_cosine_similarity_table(df_transpose)

In [ ]:
# 순열조합 생성  # 컴퓨터멈춤
# import itertools
# permuted_index = list(itertools.permutations(df.index, len(df.index)))
# permuted_column = list(itertools.permutations(df.columns, len(df.columns)))

In [12]:
# 유저별 COS유사도
from sklearn.metrics.pairwise import cosine_similarity
user_filtering_COS = cosine_similarity(dffill, dffill)
user_filtering_COS_df = pd.DataFrame(data=user_filtering_COS, index=dffill_transpose.columns, columns=dffill_transpose.columns)
user_filtering_COS_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
607,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
608,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
609,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
610,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

In [16]:
# 인덱스 데이터타입 확인
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
           dtype='int64', name='userId', length=610)

In [19]:
# 원본 데이터에서 자신은 제외
user_name = 2
movie_name = "Inception (2010)"
df[movie_name].drop(index = user_name)

userId
1      NaN
3      NaN
4      NaN
5      NaN
6      NaN
      ...
606    NaN
607    NaN
608    NaN
609    NaN
610    4.0
Name: Inception (2010), Length: 609, dtype: float64

In [22]:
# 유사도 테이블에서 자신은 제외
user_filtering_COS_df[user_name].drop(index = user_name)

userId
1      0.027283
3      0.000000
4      0.003726
5      0.016614
6      0.025333
         ...
606    0.028429
607    0.012948
608    0.046211
609    0.027565
610    0.102427
Name: 2, Length: 609, dtype: float64

In [23]:
# 자신제외
neighbors_df = df[movie_name].drop(index = user_name)
neighbors_similarity = user_filtering_COS_df[user_name].drop(index = user_name)

In [24]:
neighbors_df

userId
1      NaN
3      NaN
4      NaN
5      NaN
6      NaN
      ...
606    NaN
607    NaN
608    NaN
609    NaN
610    4.0
Name: Inception (2010), Length: 609, dtype: float64

In [25]:
neighbors_similarity

userId
1      0.027283
3      0.000000
4      0.003726
5      0.016614
6      0.025333
         ...
606    0.028429
607    0.012948
608    0.046211
609    0.027565
610    0.102427
Name: 2, Length: 609, dtype: float64

In [26]:
# 분자 계산식
nominator = (neighbors_similarity * neighbors_df).sum()
nominator

77.56938933462055

In [27]:
# 분모 계산식
denominator = neighbors_similarity.sum()
denominator

31.162827732602036

In [28]:
def predict_rating(user_name, movie_name):
    
    # 자신제외
    neighbors_df = df[movie_name].drop(index = user_name)
    neighbors_similarity = user_filtering_COS_df[user_name].drop(index = user_name)

    # 
    nominator = (neighbors_similarity * neighbors_df).sum()
    denominator = neighbors_similarity.sum()
    score = nominator / denominator

    return score

In [34]:
predict_rating(500, "Inception (2010)")

0.8518346154305866

In [30]:
df

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [36]:
# 평점 테이블
from itertools import product
print(len(list(product(df.index, df.columns))))
# list(product(df.index, df.columns))

5928590

In [37]:
def predict_rating_table(ratings):
    user_movie_combinations = list(product(df.index, df.columns))

    rating_list = []

    for user_name, movie_name in user_movie_combinations:
        score = predict_rating(user_name, movie_name)

        rating_predict = {
            'user' : user_name,
            'movie' : movie_name,
            'score' : score
        }

        rating_list.append(rating_predict)
    
    rating_list = pd.DataFrame(rating_list)

    rating_table = pd.pivot_table(rating_list, index='user', columns='movie', values='score')
    rating_table = rating_table[ratings.isnull()]

    return rating_table

In [38]:
rating_table = predict_rating_table(df)
rating_table

movie,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
user,,,,,,,,,,,,,,,,,,,,,
1,0.007162,0.012209,0.013227,0.003430,0.006111,0.002831,0.153059,0.008114,0.242508,0.062554,...,0.004749,0.069442,0.025353,0.015147,0.000214,0.236064,0.155240,0.020579,NaN,0.002948
2,0.013147,0.009454,0.008272,0.000000,0.000000,0.004374,0.072907,0.002404,0.448223,0.037725,...,0.005209,0.076760,0.032491,0.015606,0.011391,0.155274,0.149513,0.031732,0.165806,0.000000
3,0.024896,0.022050,0.067915,0.002335,0.004811,0.001168,0.336014,0.006670,0.256504,0.068978,...,0.007110,0.163902,0.049555,0.042438,0.000000,0.334283,0.191088,0.043907,0.380734,0.013710
4,0.007745,0.010899,0.013074,0.005998,0.014304,0.001430,0.134696,0.013302,0.265742,0.061035,...,0.003908,0.053442,0.016656,0.011846,0.000521,0.257857,0.139101,0.017655,0.245087,0.002111
5,0.003258,0.006333,0.007663,0.000902,0.002405,0.001171,0.072014,0.005413,0.151435,0.030776,...,0.001763,0.040403,0.011620,0.006450,0.000000,0.107970,0.083949,0.013150,0.123657,0.001051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.010290,0.013457,0.015213,0.005772,0.012466,0.002968,0.138348,0.015530,0.353023,0.064709,...,0.004262,0.079669,0.024853,0.015615,0.000758,0.261360,0.189202,0.025648,0.231715,0.001855
607,0.006928,0.009431,0.011081,0.003789,0.006728,0.002354,0.136122,0.007669,0.222251,0.052311,...,0.003458,0.071254,0.023926,0.013362,0.000165,0.208446,0.144824,0.021028,0.210419,0.003262
608,0.011843,0.011082,0.012688,0.003244,0.005649,0.003325,0.146346,0.008917,0.330110,0.067828,...,0.005084,0.093112,0.032202,0.020673,0.000521,NaN,NaN,0.030538,0.236203,0.001698
609,0.003130,0.006865,0.006842,0.000000,0.000746,0.001461,0.063002,0.003296,0.136461,0.033100,...,0.001760,0.038496,0.014383,0.005845,0.000000,0.106078,0.078578,0.012722,0.111607,0.000832
610,NaN,0.013524,0.014939,0.003220,0.005349,0.005391,0.132825,0.007943,NaN,0.066709,...,0.006419,NaN,NaN,NaN,0.004584,0.248403,NaN,NaN,0.215411,0.001259

In [39]:
# 사용자 기반 영화 추천 함수
def predict_movie(user_name, k):
    prediction_list = rating_table.loc[user_name].sort_values(ascending=False)
    prediction_list = prediction_list.head(k).index

    return prediction_list

In [40]:
# 해당 영화를 추천해줄 사용자 찾기 함수
def predict_user(movie_name, k):
    prediction_list = rating_table[movie_name].sort_values(ascending = False)
    prediction_list = prediction_list.head(k).index

    return prediction_list

In [41]:
# 1번 유저에게 추천할 영화
predict_movie(1, k = 2)

Index(['Shawshank Redemption, The (1994)', 'Terminator 2: Judgment Day (1991)'], dtype='object', name='movie')

In [42]:
# 인셉션 영화를 추천해 줄 사용자
predict_user("Inception (2010)", 5)

Int64Index([578, 291, 306, 506, 320], dtype='int64', name='user')

In [1]:
# 판다스 보기 옵션 설정
# row 생략 없이 출력
pd.set_option('display.max_rows', None)

# col 생략 없이 출력
# pd.set_option('display.max_columns', None)

NameError: name 'pd' is not defined